What is Movie Recommendation System?
A movie recommendation system, uses machine learning to predict or filter user's film preferences based on their prior decisions and actions. 

➡️ How does the movie recommendation system work?
Every recommender system primarily consists of two components: users and items. Users receive movie predictions from the system, and the actual movies are the products.
Filtering and predicting only the movies that a matching user is most likely to wish to see is the main objective of movie recommendation systems. The user information from the system's database is used by the ML algorithms for these recommendation systems. Based on information from the past, this data is used to forecast the user  behavior in the future.

➡️ Filtering Strategies of recommendation system
- Filtering based on content - 
A method of filtering movies in movie recommendation systems that makes advantage of the items' data (movies). This information, which is taken from just one user, is quite important in this case. This technique uses an ML algorithm to suggest movies that are comparable to the user's past choices. Therefore, the information about the prior movie choices and likes of just one person is used to generate similarity in content-based filtering.


- Collaboration Filtering -
As the name implies, this filtering technique is based on the interactions between the relevant person and other users. For the best outcomes, the system contrasts and compares these behaviors. It combines the film choices and usage patterns of several people.

Collaboration Filtering has two types

1.Collaboration Filtering based on users
goal is to find pattern in target users and other database users like movie preference

2. Collaboration Filtering based on items (items means movies)
find comparabale products(movies) that target users rate or interacts with

* This recommandation system uses **Filtering based on content** - it uses features such as cast , creaw , keywords ,overview to find similarities between movies. .
<br>
<br>
* **Unsupervised Machine Learning Algorithm** - This recommandation system uses usupervised system. In this case, the algorithm computes similarities between movies based on their features (possibly descriptions, genres, etc.) and recommends similar movies to a given input movie. There's no explicit supervision or labeled output guiding the learning process.

In [1]:
import numpy as np
import pandas as pd

In [2]:
#importing data sets
credits_df = pd.read_csv("credits.csv")
movies_df = pd.read_csv("movies.csv")

In [3]:
# printing data set
credits_df

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [4]:
# printing data set
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
# printing entire dat set (all rows all columns)
pd.set_option('display.max_column' , None)
pd.set_option('display.max_row' , None)

# Using set_option(), we can change the default number of rows to be displayed.

In [6]:
#credits_df

In [7]:
#movies_df

In [8]:
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
movies_df.tail()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",04-09-1992,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],26-12-2011,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",13-10-2013,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",03-05-2012,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",05-08-2005,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [10]:
# merge movie data set with credit data set for more convinience
# using .merge() funtion

movies_df = movies_df.merge(credits_df , on = 'title')


#Return Value :
#A new DataFrame, with the merged result.
#This method does not change the original DataFrame.

In [11]:
# data is now merge. check the num of rows and columns in new merged data set
movies_df.shape

# columns of the credit data set are added ahed of the columns of movie data set. 
# 'title' column is same in both the data set. so "on = title" means as per value in title 3 more column data of 'credits' 
# data set is is added in moive data set
#

(4808, 23)

In [12]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4808 non-null   int64
 1   genres                4808 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4808 non-null   int64
 4   keywords              4808 non-null   object
 5   original_language     4808 non-null   object
 6   original_title        4808 non-null   object
 7   overview              4805 non-null   object
 8   popularity            4808 non-null   float64
 9   production_companies  4808 non-null   object
 10  production_countries  4808 non-null   object
 11  release_date          4807 non-null   object
 12  revenue               4808 non-null   int64
 13  runtime               4806 non-null   float64
 14  spoken_languages      4808 non-null   object
 15  status                4808 non-null   object
 16  tagline               3964 non-null   object
 17  title                 4808 non-null   object
 18  vote_average          4808 non-null   float64
 19  vote_count            4808 non-null   int64
 20  movie_id              4808 non-null   int64
 21  cast                  4808 non-null   object
 22  crew                  4808 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.5+ KB

In [14]:
# select require features
movies_df = movies_df[['movie_id' , 'title' , 'overview' , 'genres' , 'keywords' , 'cast' , 'crew']]

In [15]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4808 non-null   int64
 1   title     4808 non-null   object
 2   overview  4805 non-null   object
 3   genres    4808 non-null   object
 4   keywords  4808 non-null   object
 5   cast      4808 non-null   object
 6   crew      4808 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.5+ KB

In [17]:
# to know how many missing values are present in our data
movies_df.isnull().sum()
# this funtion returs number of null values in a funtion

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
 #movies_df.isnull()

In [19]:
# to drop missing values
# '.dropna()' method will modify dataset(make changes is org data set) directly after dropping null values if we set 'inplace =True'
movies_df.dropna(inplace =True)

In [20]:
# To check if there is any duplicate data
movies_df.duplicated().sum()

0

In [21]:
# duplicated() funtion returns true or falese values. (if no duplicate it returns false)
# movies_df.duplicated()
# using '.sum()' with '.duplicated()' will sum up the entire reuslt
# since we have no duplicates we get 0

## Extract only required values from data in columns

In [22]:
# get value at 0th index in genres
# df.iloc [row, col]  or df.iloc [row]  or df.iloc [col]  
# iloc - index location
# df.loc[label of row ,label of column]

movies_df.iloc[0].genres

# data inside these columns is in 'string' data type

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [23]:
# abstarct syntax tree (ast)
import ast

The 'ast.literal_eval' function in Python safely evaluates a string containing a Python literal (like a number, list, or dictionary) into its corresponding Python object.

In [24]:
# convert littral to object - converting string representation of list of dictioneries in genre column into list of dictioneries
# then append value of a key'name' into empty list 'l'
# conver string to list or dictioneries etc whatever is there inside a string
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [25]:
# use '.apply(funtion_name)' function to apply funtion on raw of dataset.

movies_df['genres']=movies_df['genres'].apply(convert)
movies_df['keywords']=movies_df['keywords'].apply(convert)

In [26]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [27]:
# extracting only 3 cast names
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter = counter + 1
        else:
            break
    return L

In [28]:
movies_df['cast']=movies_df['cast'].apply(convert3)

In [29]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [30]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
    return L

In [31]:
movies_df['crew']=movies_df['crew'].apply(fetch_director)

In [32]:
movies_df['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [33]:
# add comma between each word in 'overview' column. So that it will be easier to search
# lambda is anonymous funtion created , x is a parameter of this funtion which is a string. 
# this funtion will split each words of string into comma seperated list items where ever it will find a space 


movies_df['overview'] = movies_df['overview'].apply(lambda x:x.split())

In [34]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [35]:
# delete space between two words
# eg - Science Fiction -> ScienceFiction

movies_df['genres'] = movies_df['genres'].apply(lambda x:[i.replace(" ","")for i in x])

movies_df['keywords'] = movies_df['keywords'].apply(lambda x:[i.replace(" ","")for i in x])

movies_df['cast'] = movies_df['cast'].apply(lambda x:[i.replace(" ","")for i in x]if x is not None else [])

movies_df['crew'] = movies_df['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [36]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

### * new column created named 'tags' to combine data items from overview ,genres,cast, crew column into one column

In [37]:
movies_df['tags']=movies_df['overview']+movies_df['genres']+movies_df['cast']+movies_df['crew']

In [38]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

* created new dataframe and added these columns - movie_id , title , tags
* added all data of overview ,genres,keyword ,cast,crew	 in one single column named 'tag' so that now we can work with only 3 columns. 
* that is movie_id , title , tags

## New dataframe created

In [39]:
new_df = movies_df[['movie_id' , 'title' , 'tags']]

In [40]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [41]:
# remove array brackets and join each words[]
new_df['tags'] = new_df['tags'].apply(lambda x:''.join(x))

C:\Users\GAURI TAWDE\AppData\Local\Temp\ipykernel_127320\4034886375.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:''.join(x))

In [42]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"Inthe22ndcentury,aparaplegicMarineisdispatched..."
1,285,Pirates of the Caribbean: At World's End,"CaptainBarbossa,longbelievedtobedead,hascomeba..."
2,206647,Spectre,AcrypticmessagefromBond’spastsendshimonatrailt...
3,49026,The Dark Knight Rises,"FollowingthedeathofDistrictAttorneyHarveyDent,..."
4,49529,John Carter,"JohnCarterisawar-weary,formermilitarycaptainwh..."

In [43]:
new_df['tags'][0]

'Inthe22ndcentury,aparaplegicMarineisdispatchedtothemoonPandoraonauniquemission,butbecomestornbetweenfollowingordersandprotectinganaliencivilization.ActionAdventureFantasyScienceFictionSamWorthingtonZoeSaldanaSigourneyWeaverJamesCameron'

In [44]:
# convert evething in lower case
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\GAURI TAWDE\AppData\Local\Temp\ipykernel_127320\2487307701.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [45]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"inthe22ndcentury,aparaplegicmarineisdispatched..."
1,285,Pirates of the Caribbean: At World's End,"captainbarbossa,longbelievedtobedead,hascomeba..."
2,206647,Spectre,acrypticmessagefrombond’spastsendshimonatrailt...
3,49026,The Dark Knight Rises,"followingthedeathofdistrictattorneyharveydent,..."
4,49529,John Carter,"johncarterisawar-weary,formermilitarycaptainwh..."

## Now our dataset is ready.

In [46]:
# feature data extraction using count factorizer  - extracting important features or variable from data (from tag column)
# we are extracting count of most frequencty occuring words from tag column. those words are features of our model.

from sklearn.feature_extraction.text import CountVectorizer


# used to transfrom given text into matrix on basis of frequency count of each word occues in entire text

In [47]:
cv = CountVectorizer(max_features = 5000,stop_words='english')

# max_features = 5000 - 5000 most frequntly occuring words would be saved in matrix
# stop_words = ignores stop_words from english language like is , the , and

In [48]:
# Applying logic stored in cv varibale(in above cell) to 'tags' column of new_df
# .toarray() - convertes the reuslting sparse matrix into numpy array

cv.fit_transform(new_df['tags']).toarray().shape

# rows - 4805  -> total rows of tag column
# column 5000 -> for 5000 unique words and there count  in each row of tag column

(4805, 5000)

* a tabel(matrix)will be created. 
* column headings - 5000 most frequently occuring unique words from tags column
* row heading - each sentence from tag column. eg, row one = first row of tag column

In [49]:
# learns the vocabulary (fit), and then transforms the text data into a matrix of token counts.

vectors = cv.fit_transform(new_df['tags']).toarray()

In [50]:
# accessing values of first row
vectors[0]

# number in array tell how many times a particular word has occured in a senetence
# here - 0 means that partiuclar word is not present in a first row of tag column.

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [51]:
cv.get_feature_names_out()   # few words from those 5000 words

array(['00', '000', '10', ..., 'zebra', 'zombies', 'zooeydeschanel'],
      dtype=object)

In [52]:
len(cv.get_feature_names_out())

5000

In [53]:
import nltk
# natural language tool kit

In [54]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
# process of reducing a word to its word org. form. eg - 'running' becomes run

In [55]:
def stem(text):   # Define the stem function
    y = []        # Initialize an empty list to store stemmed words
    for i in text.split():   # split the text into comma seperated list , Loop through each word in the input text
        y.append(ps.stem(i))    # Apply stemming to the current word and append to the list
    return " ".join(y)         # Join the stemmed words back into a string again and return

In [56]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\GAURI TAWDE\AppData\Local\Temp\ipykernel_127320\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [57]:
new_df['tags'][0]
# new_df['tags'][1]

'inthe22ndcentury,aparaplegicmarineisdispatchedtothemoonpandoraonauniquemission,butbecomestornbetweenfollowingordersandprotectinganaliencivilization.actionadventurefantasysciencefictionsamworthingtonzoesaldanasigourneyweaverjamescameron'

In [58]:
from sklearn.metrics.pairwise import cosine_similarity

# co sign similarity measures similarity between two factors 
# used to meausre document similarity in text analysis

* Here we are measuring similarites in tag column means how similar each one sentence is to all other sentences of tag column.
* sentences means each row of tag column. each row has one sentence.
* this funtion will return array. on row heading and clumn heading we have sentences of tag column
* inside matric we have valuees as per thier similarity (see other example in learning file)

In [59]:
cosine_similarity(vectors)    # 1 means completely similear(same sentence)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [60]:
cosine_similarity(vectors).shape

(4805, 4805)

In [61]:
similarity = cosine_similarity(vectors)

In [62]:
similarity[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [63]:
similarity[0].shape

(4805,)

 sorting a list, list which has index and value of similarity[0] , sorting is revrse order , key starts from 1 index , 
 after reversing it returns top 5 elememnts of the list through slicing -  [1:6]

* enumerate - iterate over a list or tuple and creates tuple with index
* converted this tuple into list
* sorted this list into reverse order
* retrive only top 5 values

In [64]:

sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x:x[1])[1:6]

[(1, 0.0), (2, 0.0), (3, 0.0), (4, 0.0), (5, 0.0)]

In [65]:
def recommend(movie):
    try:
        movie_index = new_df[new_df['title']==movie].index[0]  # selects first raw that matches the input movie. returns raw index
        distances = similarity[movie_index]
        movies_list = sorted(list(enumerate(distances)),reverse = True , key = lambda x:x[1])[1:6]
     
        for i in movies_list:
            print(new_df.iloc[i[0]].title)
    except IndexError:
        print(f"Movie '{movie}' not found in the dataset. Please enter a valid movie title.")

In [66]:
recommend('Spider-Man 3')

I Love You, Man
The Warlords
Human Traffic
RoboCop
Deep Rising

In [67]:
recommend('Iron')

Movie 'Iron' not found in the dataset. Please enter a valid movie title.

In [68]:
recommend('The Dark Knight Rises')

Avatar
Pirates of the Caribbean: At World's End
Spectre
John Carter
Spider-Man 3

 question - how to check accurancy of this model? find answer to this

# Create a dropdown with movie titles

In [71]:
pip install voila

Requirement already satisfied: voila in c:\users\gauri tawde\anaconda3\lib\site-packages (0.5.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: jupyter-client<9,>=7.4.4 in c:\users\gauri tawde\anaconda3\lib\site-packages (from voila) (7.4.9)
Requirement already satisfied: jupyter-core>=4.11.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from voila) (5.3.0)
Requirement already satisfied: jupyter-server<3,>=2.0.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from voila) (2.12.1)
Requirement already satisfied: jupyterlab-server<3,>=2.3.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from voila) (2.22.0)
Requirement already satisfied: nbclient<0.8,>=0.4.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from voila) (0.5.13)
Requirement already satisfied: nbconvert<8,>=6.4.5 in c:\users\gauri tawde\anaconda3\lib\site-packages (from voila) (6.5.4)
Requirement already satisfied: traitlets<6,>=5.0.3 in c:\users\gauri tawde\anaconda3\lib\site-packages (from voila) (5.7.1)
Requirement already satisfied: websockets>=9.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from voila) (12.0)
Requirement already satisfied: entrypoints in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-client<9,>=7.4.4->voila) (0.4)
Requirement already satisfied: nest-asyncio>=1.5.4 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-client<9,>=7.4.4->voila) (1.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-client<9,>=7.4.4->voila) (2.8.2)
Requirement already satisfied: pyzmq>=23.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-client<9,>=7.4.4->voila) (25.1.2)
Requirement already satisfied: tornado>=6.2 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-client<9,>=7.4.4->voila) (6.3.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-core>=4.11.0->voila) (2.5.2)
Requirement already satisfied: pywin32>=300 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-core>=4.11.0->voila) (305.1)
Requirement already satisfied: anyio>=3.1.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (3.5.0)
Requirement already satisfied: argon2-cffi in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (21.3.0)
Requirement already satisfied: jinja2 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (3.1.2)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (0.9.0)
Requirement already satisfied: jupyter-server-terminals in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (0.5.1)
Requirement already satisfied: nbformat>=5.3.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (5.7.0)
Requirement already satisfied: overrides in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (7.4.0)
Requirement already satisfied: packaging in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (23.0)
Requirement already satisfied: prometheus-client in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (0.14.1)
Requirement already satisfied: pywinpty in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (2.0.10)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (0.17.1)
Requirement already satisfied: websocket-client in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-server<3,>=2.0.0->voila) (0.58.0)
Requirement already satisfied: babel>=2.10 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.3.0->voila) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.3.0->voila) (0.9.6)
Requirement already satisfied: jsonschema>=4.17.3 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.3.0->voila) (4.20.0)
Requirement already satisfied: requests>=2.28 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.3.0->voila) (2.31.0)
Requirement already satisfied: lxml in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (4.9.2)
Requirement already satisfied: beautifulsoup4 in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (4.12.2)
Requirement already satisfied: bleach in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (0.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (2.1.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (2.15.1)
Requirement already satisfied: tinycss2 in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbconvert<8,>=6.4.5->voila) (1.2.1)
Requirement already satisfied: idna>=2.8 in c:\users\gauri tawde\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.0.0->voila) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\gauri tawde\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.0.0->voila) (1.2.0)
Requirement already satisfied: pytz>=2015.7 in c:\users\gauri tawde\anaconda3\lib\site-packages (from babel>=2.10->jupyterlab-server<3,>=2.3.0->voila) (2022.7)
Requirement already satisfied: attrs>=22.2.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (0.32.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (0.16.2)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.0.0->voila) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.0.0->voila) (6.0)
Requirement already satisfied: rfc3339-validator in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.0.0->voila) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.0.0->voila) (0.1.1)
Requirement already satisfied: fastjsonschema in c:\users\gauri tawde\anaconda3\lib\site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.0.0->voila) (2.16.2)
Requirement already satisfied: six>=1.5 in c:\users\gauri tawde\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client<9,>=7.4.4->voila) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\gauri tawde\anaconda3\lib\site-packages (from requests>=2.28->jupyterlab-server<3,>=2.3.0->voila) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\gauri tawde\anaconda3\lib\site-packages (from requests>=2.28->jupyterlab-server<3,>=2.3.0->voila) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gauri tawde\anaconda3\lib\site-packages (from requests>=2.28->jupyterlab-server<3,>=2.3.0->voila) (2023.7.22)
Requirement already satisfied: argon2-cffi-bindings in c:\users\gauri tawde\anaconda3\lib\site-packages (from argon2-cffi->jupyter-server<3,>=2.0.0->voila) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\gauri tawde\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert<8,>=6.4.5->voila) (2.4)
Requirement already satisfied: webencodings in c:\users\gauri tawde\anaconda3\lib\site-packages (from bleach->nbconvert<8,>=6.4.5->voila) (0.5.1)
Requirement already satisfied: fqdn in c:\users\gauri tawde\anaconda3\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (1.5.1)
Requirement already satisfied: isoduration in c:\users\gauri tawde\anaconda3\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (2.1)
Requirement already satisfied: uri-template in c:\users\gauri tawde\anaconda3\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (1.3.0)
Requirement already satisfied: webcolors>=1.11 in c:\users\gauri tawde\anaconda3\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (1.13)
Requirement already satisfied: cffi>=1.0.1 in c:\users\gauri tawde\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.0.0->voila) (1.15.1)
Requirement already satisfied: pycparser in c:\users\gauri tawde\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.0.0->voila) (2.21)
Requirement already satisfied: arrow>=0.15.0 in c:\users\gauri tawde\anaconda3\lib\site-packages (from isoduration->jsonschema>=4.17.3->jupyterlab-server<3,>=2.3.0->voila) (1.2.3)

In [72]:
from ipywidgets import interact, widgets
import voila


def recommend(movie):
    movie_indices = new_df[new_df['title'] == movie].index
    if len(movie_indices) == 0:
        print(f"Movie '{movie}' not found in the dataset. Please enter a valid movie title.")
        return
    else:
        movie_index = movie_indices[0]
        distances = similarity[movie_index]
        movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

        print(f"Top 5 recommended movies for '{movie}':")
        for i in movies_list:
            print(new_df.iloc[i[0]].title)

# Create a dropdown with movie titles
movie_dropdown = widgets.Dropdown(
    options=new_df['title'].tolist(),
    description='Select a Movie:'
)

# Use interact to call the recommend function with the selected movie
interact(recommend, movie=movie_dropdown);

# To use Voila, save your notebook, and then run the following command in your terminal:
# voila your_notebook.ipynb

interactive(children=(Dropdown(description='Select a Movie:', options=('Avatar', "Pirates of the Caribbean: At…

In summary, this code is using a collaborative filtering approach where recommendations are based on the similarity between movies. The similarity is computed using some pre-existing similarity matrix, and the top 5 similar movies are recommended for the input movie.